Django==1.6.2
django-reversion==1.8
django-filer==0.9.5
cmsplugin-filer==0.9.5
djangocms-googlemap==0.0.1
djangocms-flash==0.0.1
djangocms-link==1.1.3
djangocms-snippet==1.0.2
djangocms-text-ckeditor==2.1.1
djangocms-admin-style==0.2.0
django-admin-shortcuts==1.2.5
pillow==2.3.0
easy-thumbnails==1.4
git+http://github.com/divio/django-cms.git
django-storages>=1.1.8
boto>=2.23.0
dj_database_url>=0.2.2
django-debug-toolbar>=1.0.1
raven==3.4.0